@media screen and (max-width: 494px) {
    #viewport {
        margin: 30% 5% 10% 5%
    }
    .page {
        height: 187.5px
    }
    .body {
        height: 187.5px
    }
    .top-banner-element {
        font-size: 0.6rem;
    }
    .header-first-name, .header-last-name {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    .navbar-element > a, .navbar-element > a + span {
        font-size: 1rem;
    } 
    .page-title {
        font-size: 0.9rem;
    }
    .page-text, .experience-item, .experience-item + p, .tech-stack-item {
        font-size: 0.75rem;
    }
    .tech-stack-list {
        display: flex;
        gap: 0;
        padding: 40px;
    }
    .tech-stack-item {
        padding: 0;
        margin: 500px;
    }
    .project-item, .project-item + p {
        font-size: 0.7rem;
    }
    .contact-item, .contact-item + p {
        font-size: 0.8rem;
    }
    .link {
        font-size: 1.3rem;
    }
}