@font-face {
  font-family: ceefax-heading;
  src: url(../fonts/ceefax-heading.ttf);
}

@font-face {
  font-family: ceefax-body;
  src: url(../fonts/ceefax-body.otf);
}

#viewport {
  margin: 5% 10% 5% 10%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: ceefax-body;
  color: white;
}

html, body {
  height: 100%;
}

body {
  background-color: black;
  height: 1vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root {
  background-color: black;
}