.tech-stack-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    padding: 0 40px 0 40px;
    gap: 25px 20px;
}

.tech-stack-item {
    padding: 15px;
    margin: 15px;
    color: #00fdfd;
}

.tech-stack-item:nth-child(even) {
    color: white;
}